@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@700&display=swap');


div.noticiaeditor{
width: 100%;
background-color:blue;
height: 100vh;
}

span.cuerponoticiaeditor{
color: white;
width: 90%;
margin-top: 2%;
text-align: justify;
text-justify: inter-word;
}



div.wrapper{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
margin-left: 120px;
margin-right: 120px;
}

div.header-logo{
background-color: white;
height: 50px;
text-align:center;

align-items: center;
display: flex;
justify-content: center;

margin-top: -10px;
margin-bottom: -15px;
margin-left: -15px;
margin-right: -15px;
border-bottom: 1px solid #A6A6A6;
}

form{
margin-left: 120px;
margin-right: 120px;
background-color:red;
}

div.form-group{
text-align:center;
}



div.fullcontainer{
float: center;
text-align: center;
width: 100%;
height: auto;
background-color: red;
border-right: 2px solid #85b637;
}


/** div.noticia{
--height-noticia: 60px
margin: 0 0 1em 0;
font-family: Montserrat, sans-serif;
height: -height-noticia;
line-height: 10px;
background-color: white;
padding: 1px 10px 0px 10px;
} **/

div.preview{
width: 100%;
margin: 0 0 0 0;

display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical; 
word-break: var(--word-break, 'none');
hyphens: auto;
overflow: hidden;
text-overflow: hidden;

font-family: Montserrat, sans-serif;
font-style: normal;
font-size: 10px;
padding: 10px 0 0px 0 ;
}


h1{
font-family: Montserrat, sans-serif;
font-weight: normal;
color: #85b637;
}


h2{
font-family: Montserrat, sans-serif;
font-weight: 700;
font-size:18px;
}

h2.page-title{
width: 14%;
background-color: #85b637;
padding: 5px 0px 5px 0px;
margin: 30px 0 20px 0;
border-radius: 10px;
text-align: center;
color: white;
}

h2.titulonotpagina{
font-family: Roboto, sans-serif;
font-size: 30px;
margin: 0px 0 0px 0;
line-height: 15px;
text-align: center;
}



h3.titulo-noticia{
font-family: Montserrat, sans-serif;
font-size: 1.25rem;
margin: 10px 0 5px 0;
line-height: 1.25rem;
}

h3.titulo-noticia-fecha{
color: #85b637;
font-family: Montserrat, sans-serif;
font-size: 1.25rem;
margin: 10px 0 0px 0;
line-height: 1.25rem;
float: left;
}

hr.titulo-noticia-linea{
border: 1.5px solid #85b637;
width: 50px;
float: left;
}


body{
background-color: white;
color: black;
font-family: Montserrat, sans-serif;
font-weight: normal;
}

a:link{
font-weight: normal;
text-decoration: none;
color: inherit;
border-color: inherit; 
}

a:visited{
font-weight: normal;
text-decoration: none;
color: inherit;
border-color: inherit; 
}

a:hover{
color: inherit;
opacity: 0.5;
}



button.button{
float: right;
border: 2px solid black;
color: #85b637; 
border-color: #85b637; 
background-color: white;
border-radius: 50%;
font-size: 18px;
padding: 0;
text-align: center;
cursor: pointer;
height: 24px;
width: 24px;
margin-right: 4px;
}


button.texto{
display: block;
font-family: Montserrat, sans-serif;
font-weight: 500;
font-size:14px;
width: 7.5%;
background-color: #85b637;
padding: 5px 0px 5px 0px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
text-align: center;
color: white;
border: 0px;
}

button.texto:hover{
opacity: 0.9;
}

