{% load static %}
<!DOCTYPE html> 
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>keep up | Editar noticia</title> 
   <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
 
<body>

<header>
<div class="header-logo">
 <h1 class="logo"> keep up </h1>
 </div>
 <a href="/"> <h2 class="page-title"> Editor de Noticias </h2> </a>
</header>
     
 <form method="post" class="add">
    {% csrf_token %}
    
    <div class="form-group">
      <input type="text" class="form-control"  value="{{noticia.titulo}}" id="id_title" name="titulo">
    </div>
    
    <div class="form-group">
    <label style="font-size:12px; "> Por: </label>
      <input type="text" class="form-control" id="id_author"  name="autor" value="{{ noticia.autor }}">
    </div>
    
    <div class="form-group">
      <textarea class="form-control" id="id_noticia" name="cuerpo"  rows="10" cols="40">{{noticia.cuerpo}}</textarea>
    </d iv>

    <button type="submit" class="texto" name="modify" value="modify">Modificar</button>
     <a href="./"><button type="button" class="texto">Cancelar</button></a>
    
  </form>
    
   
 </body> 
</html>
