{% load static %}
<!DOCTYPE html> 
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>keep up | Editor de Noticias</title> 
   <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
 
<body>

<header>
<div class="header-logo">
 <h1 class="logo"> keep up </h1>
 </div>
 <a href="./"> <h2 class="page-title">  Editor de Noticias  </h2> </a>
</header>
     
     {% if justadded %}
     <div class="modified-warning">
     Se ha añadido la noticia con éxito.
     </div>
     {% endif %}
     
     {% if justdeleted %}
     <div class="modified-warning">
     Se ha eliminado la noticia correctamente.
     </div>
     {% endif %}

    <a href="/add"> <button class="button add"> &#10010;</button> </a>
    <br>
    
    <div class="wrapper">
    
    {% block content %}
    {% for i in object_list %}
    
    <div class="noticia">
    
    <a href="{% url 'detail' i.pk %}">
    <span style="noticia-titulo"> 
    <h3 class="titulo-noticia-fecha">
       {{ i.darFecha }}  &nbsp; 
    </h3> 
 
        <h3 class="titulo-noticia">
           {{ i.titulo }}
        </h3> 
        
        <hr class="titulo-noticia-linea">
    </span>
    </a>
    
    <div class="preview"> {{ i.cuerpo }}</div>
    </div>
    
    
        
        <!-- <button class="button ver"> &#10007;</button> <button class="button del" >&#9758;</button>-->
          
        <!-- <a href="{% url 'detail' i.pk %}"> <button class="button edit"> &#9998; </button></a> -->

    {% endfor %}
    {% endblock content %}
     
     </div> 
    
   
 </body> 
</html>
