{% load static %}
<!DOCTYPE html> 
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>KeepUp | Editor de Noticias</title> 
   <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head> 
<body>
     <header>
       <h1> <a href="">Editor de Noticias</a> </h1>
     </header>
     <div class="container">
       {% block content %}
         {% for i in object_list %}
             <div class="noticia">
             <h3><a href="{% url 'detail' i.pk %}">{{ i.titulo }}</a></h3>
               <p>{{ i.cuerpo }}</p>
            </div>
         {% endfor %}
        {% endblock content %}
     </div>
 </body> 
</html>
