<!DOCTYPE html> 
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>KeepUp | Editor de Noticias</title> 
</head> 
<body>
     <header>
       <h1> <a href="">Editor de Noticias</a> </h1>
     </header>
     <div class="container">
       {% block content %}
         {% for i in object_list %}
             <div class="noticia">
             <h3><a href="">{{ i.title }}</a></h3>
               <p>{{ i.body }}</p>
            </div>
         {% endfor %}
        {% endblock content %}
     </div>
 </body> 
</html>
